<%= form_for(@problema) do |f| %>
 
  <input type="hidden" name="thermostat_id" value="<%= @id_t%>">
  <input type="hidden" name="status" value="">
  <input type="hidden" name="resolution" value="sas">
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
