<h1>Listing problemas</h1>

<table>
  <thead>
    <tr>
      <th>Thermostat</th>
      <th>Description</th>
      <th>Status</th>
      <th>Resolution</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @problemas.each do |problema| %>
      <tr>
        <td><%= problema.thermostat_id %></td>
        <td><%= problema.description %></td>
        <td><%= problema.status %></td>
        <td><%= problema.resolution %></td>
        <td><%= link_to 'Show', problema %></td>
        <td><%= link_to 'Edit', edit_problema_path(problema) %></td>
        <td><%= link_to 'Destroy', problema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problema', new_problema_path %>
